*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* task1 css start */

.task{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    display: flex;
    margin-right: 50px;
}
.search-box form input{
    padding: 10px 20px;
    width: 50px;
    height: 50px;
    background: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    outline: none;
    transition: width .5s ease;
}
.search-box form{
    position: relative;
}
.search-box:hover form input{
    width:200px;
}
.search-box form input::placeholder{
    color: #fff;
    transition: all .5s ease;
    visibility: hidden;
}
.search-box:hover form input::placeholder{
    color: silver;
    visibility: initial;
}
.search-box form button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
}

/* task1 css end */




/* task2 css start */

.lang-box{
    width: 50px;
    text-align: center;
    height: 50px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 0;
    transition: height 0.5s ease;
}
.lang-box:hover{
    height: 150px;
}
.lang-box:hover div.flag:first-child{
    border-bottom: 1px solid black;
    border-radius: 50px;
}
.lang-box div.flag{
    margin-bottom:10px;
}

/* task2 css end */